@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;800;900&family=Roboto:wght@100;300;500;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
   font-family: 'Roboto', sans-serif;
   overflow: hidden;
  
}

header{
    margin: 0px;
    padding: 0px;
   
}

/*==================    SECTION HEADER    ==========================*/
nav{
    background-color: #edcb54;
    width: 100%;
    height: 10vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
  
}
nav img{
    height: 60px;
    grid-column: 2/3;
}
nav p{
    display: none;
}
nav ul{
    grid-column: 4/8;
}
nav .menu__icono{
    display: none;
}
nav .shopping__icono{
    display: flex;
    justify-content: center;
    color: rgb(14, 13, 13);
}
nav ul{
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}
nav li{
    text-align: center;
}
nav a {
    display: block;
    text-decoration: none;
    color: rgb(14, 13, 13);
    
}

nav a:hover{
    color: rgb(252, 249, 249);
}
nav .shopping__icono{
    cursor: pointer;
}
nav .shopping__icono:hover{
    color: rgb(252, 249, 249);
}

/*==================    SECTION MAIN    ==========================*/

.hero{
    height: 80vh;
    background-image:linear-gradient(rgba(16,16,16,0.7), rgba(16,16,16,0.7)), url(../imagenes/banner_hero.jpg);
    background-size: cover;
    max-width: 100%;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(8,1fr);
}

.info-content{
    grid-column: 6/10;
    grid-row: 2/5;
    color: #fff;
}
.hero h3{
    font-family: 'Montserrat' , sans-serif;
    font-size: 2em;
    font-weight: 500;
}
.hero h1{
    font-size: 5em;
    color: #edcb54;
}
.hero p{
    font-weight: 300;
    font-family: 'Montserrat' sans-serif;
    font-size: 1.5em;
    margin-top: 30px;
    line-height: 1.5;
}
.hero .btn{
    font-size: 1.5em;
    background:none;
    color:#fff;
    padding: 10px 20px;
    border: 2px solid #edcb54;
    border-radius: 30px;
    margin-top: 50px;
    cursor: pointer;
}
.hero .btn:hover{
    background-color: #edcb54;
    color: black;
}

/*==================    SECTION FOOTER    ==========================*/

footer{
    height: 10vh;
    background-color: rgb(14, 13, 13);
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows:1fr  1fr;
    color: #fff;
    text-align: center;
    padding: 10px 5px;

}

footer .fa-facebook, .fa-twitter, .fa-whatsapp, .fa-instagram {
    margin-left: 10px;
    font-size: 1.5em;
    font-weight: 300;
}
footer p{
    font-weight: 300;
}
